<%= form_for(@shift_log) do |f| %>
  <% if @shift_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_log.errors.count, "error") %> prohibited this shift_log from being saved:</h2>

      <ul>
      <% @shift_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :change_date %><br>
    <%= f.text_field :change_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :shift_id %><br>
    <%= f.text_field :shift_id %>
  </div>
  <div class="field">
    <%= f.label :action_taken %><br>
    <%= f.text_field :action_taken %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
