<%= month_calendar do |date| %>
    <% if @selected_hauler && (date == @selected_hauler.haul_date) %>
        <div class="selected_hauler_date">
    <% end %>
    <%= date %>

    <% if @haulers[date.to_s].nil? && current_user.admin? %>
      <a href="/add_hauler/<%= date.to_s %>" class="btn btn-small btn-success">
        <i class='icon-plus'></i>
      </a>
    <% end %>

    <% if @my_shifts.include? date.strftime("%Y-%m-%d") %>
        <%= "<br/><strong>WORKING</strong>".html_safe %>
    <% end %>

    <% unless @haulers[date.to_s].nil? %>
        <a href="
          <%= "/hauler_scheduler/#{@haulers[date.to_s]}?start_date=#{date.to_s}".html_safe %>
          " class="btn btn-primary btn-small">
          <i class='icon-search'></i>
        </a>
    <% else %>
        &nbsp;<br/>
    <% end %>

    <% if @selected_hauler && (date == @selected_hauler.haul_date) %>
        </div>
    <% end %>
<% end %>