<h1>Host Hauler Entries</h1>

<table class="table table-striped">
  <% @haulers.each do |hauler| %>
    <tr>
      <td>
        <%= link_to "",
                    "/hauler_scheduler/#{hauler.id}",
                    class: "icon-search btn btn-small btn-info"
        %>
        <%= "#{hauler.haul_date} : #{hauler.haul_date.strftime('%A')}" %>
        &nbsp;
        (seats: <%= hauler.riders.count %>
        -
        open seats: <%= hauler.open_seat_count %>)
      </td>
      <td>
        Driver: <%= hauler.driver_id.nil? ? "UnSet" : hauler.driver.name %>
      </td>
    </tr>
      <tr>
        <td colspan="2">
          <% if hauler.has_riders? %>
            <ul>
              <% hauler.riders.each do |rider| %>
                <% if !rider.user_id.nil? %>
                  <li><%= rider.user.name %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>