<%= form_for(:filter, :url => shifts_path, :method => :get, :class=>"form-inline") do |f|  %>
    <hr/>
    <h4>Filter:</h4>
    <div class='filter_box'>
      <div class='row'>
        <div class='col-sm-3 col-md-3'>
          <strong>Options</strong> <br/> <br/>
          <%= render 'shifts/filter/start_from_today', :f => f %>
          <%= render 'shifts/filter/show_expanded', :f => f %><br/>

          <%= render 'shifts/filter/can_select', :f => f %><br/>

          <%= render 'shifts/filter/show_unselected', :f => f %> <br/>

          <%= render 'shifts/filter/show_holidays', :f => f %>
        </div>

        <div class='col-sm-2 col-md-2'>
          <%= render 'shifts/filter/day_of_week', :f => f %>
        </div>

        <div class='col-sm-3 col-md-3'>
          <%= render 'shifts/filter/shift_type', :f => f %>
        </div>

        <div class='col-sm-3 col-md-3'>
          <%= render 'shifts/filter/host', :f => f %>    <br/>
          <%= render 'shifts/filter/date', :f => f %>
        </div>
      </div>
    </div>
    <br/>

    <div class="actions">
      <input type="button" name="clear" value="Reset" id="reset_shifts_index_form" class="btn" >
      <%= f.submit 'Apply', :class=>"btn" %>
    </div>
    <hr/>
<% end %>