<div class="row">
  <div class="span4">
    <% if @user.head_shot.nil? || (@user.head_shot == '') %>
      <%=  gravatar_image_tag(@user.email, :alt => @user.name) %>
      <%= link_to "Setup Gravatar", "http://gravatar.com" %>
      <br/>

    <% else %>
      <%= image_tag @user.head_shot %>
    <% end %>
  </div>
  <div class="span5 well">
    <br/>
    <% if !@user.confirmed %>
      <h3>Be Sure You Are Confirmed!</h3><br/>
    <% end %>
    <strong>Confirmed? </strong>
    <%= f.check_box :confirmed, :placeholder => "confirmed", class: 'active_edit', :required => !current_user.has_role?(:admin) %><br/>

    <br/><br/>
    <%= f.password_field :password, class: 'password_edit', placeholder: 'Password', :autocomplete => :off %> <br/>
    <%= f.password_field :password_confirmation, class: 'password_edit', placeholder: 'Password Confirmation' %> <br/><br/>

    <%= f.submit "Update", id: 'user_form_submit', class: 'btn btn-success' %>
    <%= link_to "Cancel", users_path, class: "btn btn-warning" %>

    <br/><br/>
  </div>
</div>

<br/>
<br/>
<% if current_user.has_role? :admin %>
    <strong>Image Path/file: </strong> <%= f.text_field :head_shot,
                  :placeholder => "Headshot File", class: 'name_edit form-control' %><br/>
<% end %>

<strong>Name: </strong> <%= f.text_field :name, :placeholder => 'Name', class: 'name_edit form-control' %>
<strong>Nick Name: </strong> <%= f.text_field :nickname, :placeholder => 'NickName', class: 'name_edit form-control' %><br/>

<div class="form-group">
<strong>Address: </strong><br/>
<%= f.text_field :street, :placeholder => 'Street Name', class: 'street_edit form-control' %> <br/>
<%= f.text_field :city, :placeholder => 'City', class: 'city_edit form-control' %>,
<%= f.text_field :state, :placeholder => 'State', class: 'state_edit form-control' %>
<%= f.text_field :zip, :placeholder => 'Zip', class: 'zip_edit form-control' %>   <br/>
</div>

<strong>Home Phone: </strong>
<%= f.telephone_field :home_phone, :placeholder => 'Home Phone', class: 'phone_edit' %> <br/>
<strong>Cell Phone: </strong>
<%= f.telephone_field :cell_phone, :placeholder => 'Cell Phone', class: 'phone_edit' %> <br/>
<strong>Email: </strong>
<%= f.email_field :email, :placeholder => 'Email', class: 'email_edit', :autocomplete => :off %> <br/>
<strong>Alt Email: </strong>
<%= f.email_field :alt_email, :placeholder => 'Alternate Email', class: 'email_edit' %> <br/>

<% if current_user.has_role? :admin %>
    <strong>Active?: </strong>
    <%= f.check_box :active_user, :placeholder => "active", class: 'active_edit' %>
<% end %>

<% if current_user.has_role? :admin %>
    <br/>
    <strong>Notes: </strong><br/>
    <%= f.text_area :notes, class: 'notes_edit', placeholder: 'Admin Notes' %> <br/>

    <strong>Start Year: </strong>
    <%= f.text_field :start_year, :placeholder => 'Start Year', class: 'year_edit' %> <br/>
    <strong>Snowbird Start Year: </strong>
    <%= f.text_field :snowbird_start_year, :placeholder => 'Snowbird Start Year', class: 'year_edit' %>
<% else %>
    <strong>Start Year: </strong> <%= @user.snowbird_start_year %>
<% end %>
<br/>

<strong>seniority: </strong> <%= @user.seniority %><br/><br/>

    <% unless current_user.has_role? :admin %>
        <h5>Roles:</h5>
        <ul>
          <% @user.roles.each do |r| %>
              <li><%= r.name %></li>
          <% end %>

          <% if @user.roles.empty? %>
            <li>No Roles Defined...</li>
          <% end %>
        </ul>
    <% else %>
        <h5>Roles</h5>
        <ul>
          <% Role.all.each do |r| %>
              <% if @user.roles.include? r
                   role_checked = true
                 else
                   role_checked = false
                 end %>
              <li>
                <input title='Role on/off' id=<%= "role_#{r.name}" %> name=<%= "role[#{r.name}" %> type="checkbox" <%= role_checked ? 'checked' : '' %> />

                <%= r.name %>
              </li>
          <% end %>

        </ul>
    <% end %>
    <hr/>

<h5>shift summary info: </h5>
<table class='table table-striped'>
  <tr>
    <th>Date</th>
    <th>DOW</th>
    <th>Shift</th>
    <th>Status</th>
    <th>Tools</th>
  </tr>
    <% @user.get_working_shifts&.each do |s| %>
      <tr>
        <td><%= s.shift_date.strftime("%Y-%m-%d") %></td>
        <td><%= s.day_of_week %></td>
        <td><%= "#{s.shift_type.short_name[0..1]} - #{s.shift_type.description}" %></td>
        <td><%= s.shift_type.tasks %></td>
        <td>
          <% if s.class == OngoingTraining %>
            <% if s.can_drop current_user %>
              <%= link_to "<i class='icon-trash btn btn-danger' title='drop shift'>&nbsp;&nbsp;Drop</i>".html_safe,
                          "/drop_ongoing_training/#{s.id}",
                          :title => "Drop #{s.id}" %>
            <% end %>
          <% else %>
            <% if s.can_drop current_user %>
              <%= link_to "<i class='icon-trash btn btn-danger' title='drop shift'>&nbsp;&nbsp;Drop</i>".html_safe,
                          "/drop_shift/#{s.id}",
                          data: { :confirm => "You sure you want to drop this shift?" },
                          :title => "Clear Shift", :class=>'drop_shift_btn select_btn' %>
            <% end %>
          <% end %>

        </td>
      </tr>
    <% end %>



</table>
<br/>
