<% if @user.head_shot.nil? || (object.head_shot == '') %>
    <%=  gravatar_image_tag(@user.email, :alt => @user.name) %>
      <%= link_to "Setup Gravatar", "http://gravatar.com" %>
    <br/>

<% else %>
      <%= image_tag @user.head_shot %>
<% end %>
<br/>

<% if current_user.has_role? :admin %>
    <strong>Image Path/file: </strong> <%= f.text_field :head_shot, :placeholder => "Headshot File", class: 'name_edit' %><br/>
<% end %>

<strong>Name: </strong> <%= f.text_field :name, :placeholder => 'Name', class: 'name_edit' %>
<strong>Nick Name: </strong> <%= f.text_field :nickname, :placeholder => 'NickName', class: 'name_edit' %><br/>

<strong>Address: </strong><br/>
<%= f.text_field :street, :placeholder => 'Street Name', class: 'street_edit' %> <br/>
<%= f.text_field :city, :placeholder => 'City', class: 'city_edit' %>,
<%= f.text_field :state, :placeholder => 'State', class: 'state_edit' %>
<%= f.text_field :zip, :placeholder => 'Zip', class: 'zip_edit' %>   <br/>


<strong>Home Phone: </strong>
<%= f.phone_field :home_phone, :placeholder => 'Home Phone', class: 'phone_edit' %> <br/>
<strong>Cell Phone: </strong>
<%= f.phone_field :cell_phone, :placeholder => 'Cell Phone', class: 'phone_edit' %> <br/>
<strong>Email: </strong>
<%= f.email_field :email, :placeholder => 'Email', class: 'email_edit' %> <br/>
<strong>Alt Email: </strong>
<%= f.email_field :alt_email, :placeholder => 'Alternate Email', class: 'email_edit' %> <br/>

<% if current_user.has_role? :admin %>
    <strong>Active?: </strong>
    <%= f.check_box :active_user, :placeholder => "active", class: 'active_edit' %>
<% end %>

<% if current_user.has_role? :admin %>
    <br/>
    <strong>Notes: </strong><br/>
    <%= f.text_area :notes, class: 'notes_edit', placeholder: 'Admin Notes' %> <br/>

    <strong>Start Year: </strong>
    <%= f.text_field :start_year, :placeholder => 'Start Year', class: 'year_edit' %> <br/>
    <strong>Snowbird Start Year: </strong>
    <%= f.text_field :snowbird_start_year, :placeholder => 'Snowbird Start Year', class: 'year_edit' %>
<% else %>
    <strong>Start Year: </strong> <%= @user.snowbird_start_year %>
<% end %>
<br/>

<strong>seniority: </strong> <%= @user.seniority %><br/><br/>
<strong>Confirmed? </strong>
<%= f.check_box :confirmed, :placeholder => "confirmed", class: 'active_edit', :required => !current_user.has_role?(:admin) %><br/>


<%= f.password_field :password, class: 'password_edit', placeholder: 'Password' %> <br/>
<%= f.password_field :password_confirmation, class: 'password_edit', placeholder: 'Password Confirmation' %> <br/><br/>

<% if @user.roles.length > 0 %>
    <h5>Roles:</h5>
    <ul>
      <% @user.roles.each do |r| %>
          <li><%= r.name %></li>
      <% end %>
    </ul>
<% end %>

<h5>shift summary info: </h5>
<table class='table table-striped'>
  <tr>
    <th>Date</th>
    <th>DOW</th>
    <th>Shift</th>
    <th>Status</th>
    <th>Tools</th>
  </tr>
  <% @user.shifts.each do |s| %>
      <tr>
        <td><%= s.shift_date %></td>
        <td><%= s.day_of_week %></td>
        <td><%= "#{s.shift_type.short_name[0..1]} - #{s.shift_type.description}" %></td>
        <td><%= s.shift_type.tasks %></td>
        <td>

          <% if s.can_drop current_user %>
              <%= link_to "<i class='icon-trash btn btn-danger' title='drop shift'>&nbsp;&nbsp;Drop</i>".html_safe,  "/drop_shift/#{s.id}",
                          :confirm => "You sure you want to drop this shift?", :title => "Clear Shift", :class=>'drop_shift_btn' %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
