<td class='centered'>
  <input type='hidden' value='<%= object.name %>'>

  <a href='<%= user_path(object) %>'>
    <%= "#{object.name}" %><br/>
    <% if object.head_shot.nil? || (object.head_shot == '') %>
         <%= gravatar_image_tag(object.email, :alt => object.name, class: "user_img") %>
    <% else %>
         <%= image_tag object.head_shot, :class => 'index_head_shot user_img' %>
    <% end %>

  </a> <br/>
  <%= link_to object.email, "send_mail/#{object.email}" %><br/>  
</td>

<td>
  <strong>Address:</strong><br/>
  <%= object.street %> <br/>
  <%= object.city %>, <%= object.state %> <%= object.zip %><br/> <br/>
  <strong>Home Phone:</strong> <%= number_to_phone(object.home_phone) %><br/>
  <strong>Cell Phone:</strong> <%= number_to_phone(object.cell_phone) %>
</td>

<td>
  <strong>Scheduled Shifts: </strong><%= object.shifts.length %> <br/>
  <strong>Tour Ratio: </strong>
  <% if object.tour_ratio > 50 %>
    <span class="bad_ratio"> <%= object.tour_ratio.round(2) %></span>
  <% else %>
    <%= object.tour_ratio.round(2) %>
  <% end %>
  <br/>
  <strong>Shifts Worked: </strong> <%= object.shifts_worked.length %> <br/><br/>
  <strong>Active:</strong>

  <% if current_user.admin? %>
    <%= check_box_tag("user_active_#{object.id}", "user_active_#{object.id}", object.active_user, :class => 'set_active') %>
  <% else %>
    <%= object.active_user %>
  <% end %>
  <br/>
</td>
<td>
  <strong>Start Date:</strong> <%= object.snowbird_start_year %> <br/>
  <strong>Seniority:</strong> <%= object.seniority %><br/>
  <strong>Last Signed In:</strong>
        <%= object.last_sign_in_at.nil? ? "---" :
              object.last_sign_in_at.in_time_zone("Mountain Time (US & Canada)").strftime("%Y-%m-%d %H:%M") %> <br/>
  <% if current_user.admin? && !object.notes.blank? %>
    <br/>
      <div class="user_notes_box">
        <strong>NOTES: </strong><br/>
        <%= object.notes %>
      </div>
  <% end %>
</td>

<td>
  <% if ((current_user.has_role? :admin) || (current_user.id == object.id)) %>
      <a href='<%= edit_user_path(object) %>'><i class='icon-wrench icon-large icon_blue icon_obj'></i></a>
      <% if (current_user.email == MAX_EMAIL) && (object.id != current_user.id)%>
          <a href="/ghost_user/<%= object.id %>"><i class="icon-user icon_blue icon-large icon_obj" title="Ghost This User"></i></a>
      <% end %>
  <% end %>

  <% if ((current_user.has_role? :admin) && (object.id != current_user.id)) %>
      <a href='<%= user_path(object) %>' data-method='delete' data-confirm="You sure you want to delete this Host?" title='Delete Host'>
        <i class='icon-trash icon-large icon_red icon_obj'></i>
      </a>
  <% end %>

</td>