<% if current_user.has_role? :admin %>
    Team leaders: <%= @leaders.length %><br/>
    Seniors (no TLs or Cotter): <%= @senior.length %><br/>
    Juniors: (no TLs) <%= @junior.length %><br/>
    Freshmen: (no TLs) <%= @freshmen.length %><br/>
    Rookie: <%= @rookies.length %><br/>
    All Hosts (without Cotter): <%= @users.length %><br/>
    InActive Hosts: <%= @inactive_users.length %><br/>
    <hr/>
    Trainers: <%= @trainers.length %><br/>
    Surveyors: <%= @surveyors.length %><br/>
    Ongoing On Mt Trainers: <%= @ogom_trainers.length %>
    <hr/>

    <h1>MISSING  (<%= @missing.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @missing.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>ROOKIES(<%= @rookies.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @rookies.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>FRESHMEN (<%= @freshmen.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @freshmen.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>JUNIOR (<%= @junior.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @junior.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>SENIOR (<%= @senior.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @senior.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>TEAM LEADERS(<%= @leaders.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @leaders.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>TRAINERS(<%= @trainers.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @trainers.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

    <h1>SURVEYORS(<%= @surveyors.count %>)</h1>
    <table class='table table-striped'>
      <tbody>

      <% @surveyors.each do |u| %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>

  <h1>OnGoing On MT. Trainers(<%= @ogom_trainers.count %>)</h1>
  <table class='table table-striped'>
    <tbody>

    <% @ogom_trainers.each do |u| %>
      <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
        <%= render 'user_index_entry', object: u %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>

<% else %>
    You don't have permission to view this report.  Sorry!
<% end %>