<% if current_user.has_role? :admin %>
    <div class='row'>
      <div class="span3">
        Rookies: <%= User.rookies.length %> <br/>

        Freshmen: <%= User.group3.to_a.delete_if {|u| u.team_leader? }.length %> <br/>

        Junior: <%= User.group2.to_a.delete_if {|u| u.team_leader? }.length %> <br/>

        Senior: <%= User.group1.to_a.delete_if {|u| u.team_leader? }.delete_if {|u| u.supervisor? }.length %> (does not include TLs)<br/>

        Team Leaders: <%= User.active_users.to_a.delete_if {|u| !u.team_leader? }.length %> <br/>

        Trainers: <%= User.active_users.to_a.delete_if {|u| !u.trainer? }.length %><br/>

        All Hosts: <%= User.includes(:shifts).active_users.to_a.delete_if {|u| u.supervisor? }.length %> <br/>
      </div>
    </div>
<% end %>

<h1>Snowbird Mountain Hosts</h1>
<div class="row">
  <% if current_user.has_role? :admin %>
      <div class="span2">
        <%= link_to "Create New User <i class='icon-male icon-large icon-white'></i>".html_safe, new_user_path, class: "btn btn-info" %>
      </div>
  <% end %>
  <div class='span9'>
    <input type="text" id='user_search_box' class="span3 search-query" placeholder="User Filter">
  </div>
</div>
<hr/>
<table class='table table-striped'>
  <tbody>
  <tr>
    <%= render 'user_index_entry', object: current_user %>
  </tr>

  <% @users.each do |u| %>
      <% next if u == current_user %>
      <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
        <%= render 'user_index_entry', object: u %>
      </tr>
  <% end %>
  </tbody>
</table>

<% if (current_user.has_role? :admin) && (@inactive_users.length > 0) %>
    <br/><br/>
    <h2>Inactive Users</h2>
    <table class='table table-striped'>
      <tbody>
      <% @inactive_users.each do |u| %>
          <% next if u == current_user %>
          <tr id=<%= "user_record_#{u.id}" %> class='user_entry' >
            <%= render 'user_index_entry', object: u %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

