<%= gravatar_image_tag(@user.email, :alt => @user.name) %>
<% if ((current_user.has_role? :admin) || (current_user.id == @user.id)) %>
    <a href='<%= edit_user_path(@user) %>'><i class='icon-wrench icon-large icon_blue icon_obj'></i></a>
<% end %>
<br/>   <br/>
<strong>Name: </strong> <%= @user.name %>
<strong>Nick Name: </strong> <%= @user.nickname %><br/>

<strong>Address: </strong><br/>
<%= @user.street %> <br/>
<%= @user.city %>,
<%= @user.state %>
<%= @user.zip %>   <br/>


<strong>Home Phone: </strong>
<%= @user.home_phone %> <br/>
<strong>Cell Phone: </strong>
<%= @user.cell_phone %> <br/>
<strong>Email: </strong>
<%= @user.email %> <br/>
<strong>Alt Email: </strong>
<%= @user.alt_email %> <br/>

<strong>Active?: </strong>
<%= @user.active_user? ? "Yes" : "No" %>

&nbsp;&nbsp;&nbsp;
<strong>Confirmed? </strong>
<%= @user.confirmed? ? "Yes" : "No" %><br/>

<% if current_user.has_role?(:admin) && (@user.notes != '') %>
    <br/>
    <strong>Notes: </strong><br/>
    <%= @user.notes %> <br/>
<% end %>

<strong>Start Year: </strong>
<%= @user.start_year %> <br/>
<strong>seniority: </strong> <%= @user.seniority %><br/><br/>

<% if @user.roles.length > 0 %>
    <h5>Roles:</h5>
    <ul>
      <% @user.roles.each do |r| %>
          <li><%= r.name %></li>
      <% end %>
    </ul>
<% end %>

<h5>shift summary info: </h5>
<table class='table table-striped'>
  <tr>
    <th>Date</th>
    <th>DOW</th>
    <th>Shift</th>
    <th>Status</th>
    <th>Tools</th>
  </tr>
  <% @user.shifts.each do |s| %>
      <tr>
        <td><%= s.shift_date %></td>
        <td><%= s.day_of_week %></td>
        <td><%= "#{s.shift_type.short_name[0..1]} - #{s.shift_type.description}" %></td>
        <td><%= s.shift_type.tasks %></td>
        <td>

          <% if s.can_drop current_user %>
              <%= link_to "<i class='icon-warning-sign btn btn-warning' title='drop shift'></i>".html_safe,  "/drop_shift/#{s.id}",
                          :confirm => "You sure you want to drop this shift?", :title => "Clear Shift" %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
