<div class='row'>
  <div class='span8'>
    <%= render '/shared/user_profile_box', :user => @user %>
  </div>
  <div class='span4'>
    <strong>Alt Email: </strong>
    <%= @user.alt_email %> <br/>

    <strong>Active?: </strong>
    <%= @user.active_user? ? "Yes" : "No" %>

    &nbsp;&nbsp;&nbsp;
    <strong>Confirmed? </strong>
    <%= @user.confirmed? ? "Yes" : "No" %><br/>

  </div>
</div>
<% if current_user.has_role?(:admin) && (@user.notes != '') %>
    <br/>
    <strong>Notes: </strong><br/>
    <%= @user.notes %> <br/>
<% end %>

<h5>shift summary info: </h5>
<table class='table table-striped'>
  <tr>
    <th>Date</th>
    <th>DOW</th>
    <th>Shift</th>
    <th>Status</th>
    <th>Tools</th>
  </tr>
  <% @user.shifts.each do |s| %>
      <tr>
        <td><%= s.shift_date %></td>
        <td><%= s.day_of_week %></td>
        <td><%= "#{s.shift_type.short_name[0..1]} - #{s.shift_type.description}" %></td>
        <td><%= s.shift_type.tasks %></td>
        <td>

          <% if s.can_drop current_user %>
              <%= link_to "<i class='icon-warning-sign btn btn-warning' title='drop shift'></i>".html_safe,  "/drop_shift/#{s.id}",
                          :confirm => "You sure you want to drop this shift?", :title => "Clear Shift" %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
