
<% shift_short_list = user.get_next_shifts(3)
   if shift_short_list.length > 0 %>

    <div class='three_shift_box'>
      <h3>Next Three Shifts</h3>
      <table class='table table-striped'>
        <% shift_short_list.each do |s| %>
            <tr>
              <td><%= "#{s.day_of_week} - #{s.shift_date.strftime("%m-%d")}" %></td>
              <td><%= s.short_name[0..1] %></td>
              <td><%= s.shift_type.description %></td>
              <td><%= s.shift_type.tasks %></td>
              <td><%= (s.disabled == false) || (s.disabled.nil?) ? 'Working' : 'Called Off' %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>