
<div class='user_profile_box'>
  <div class='row'>
    <div class='span2 col1'>
      <%= gravatar_image_tag(user.email, :alt => user.name) %><br/>
      <%= link_to user.email, "/send_mail/#{user.email}" %> <br/>
      Cell Phone: <%= user.cell_phone %>
    </div>
    <div class='span3'>
      <%= user.name %>

      <% if ((current_user.has_role? :admin) || (current_user.id == user.id)) %>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href='<%= edit_user_path(user) %>'>
            <i class='icon-wrench icon-large icon_blue icon_obj' title='Edit User'></i></a><br/><br/>
      <% end %>

      <%= user.street %><br/>
      <%= user.city %> <%= user.city.blank? ? " #{user.state} #{user.zip}" : ", #{user.state} #{user.zip}" %><br/><br/>
      Home Phone: <%= user.home_phone %> <br/>

    </div>
    <div class='span2'>
      <% unless user.nickname.blank? %>
        Nick Name: <%= user.nickname %><br/>
      <% end %>
      Start Year:  <%= user.start_year %> <br/>
      Seniority: <%= user.seniority %><br/>
      Survey Total: <%= "TBD" %> <br/>
      Shifts Selected: <%= user.shifts.length %>

      <% if user.roles.length > 0 %>
          <br/>
          Roles:
          <ul>
            <% user.roles.each do |r| %>
                <li><%= r.name %></li>
            <% end %>
          </ul>
      <% end %>

    </div>
  </div>
</div>