
<div class='user_profile_box span6' >
  <div class='row'>
    <% unless user.nil? %>
        <div class='span2 col1'>

          <%= user.name %>

          <% if ((current_user.has_role? :admin) || (current_user.id == user.id)) %>
              <a href='<%= edit_user_path(user) %>'>
                <i class='icon-wrench icon-large icon_blue icon_obj' title='Edit User'></i></a><br/>
          <% end %>
          <%= if user.head_shot.nil? || (user.head_shot == '')
                gravatar_image_tag(user.email, :alt => user.name, :width => '50px')
              else
                image_tag(user.head_shot, :width => '150px', class: "user_img")
                # <div class="user" style="background-image:<%= image-url('user.head_shot'   url('path/to/user/img.png')"></div>

              end
          %><br/>
          <%= link_to user.email, "/send_mail/#{user.email}" %> <br/>
          <% unless user.alt_email.blank? %>
              <strong>Alt Email: </strong> <%= link_to user.alt_email, "/send_mail/#{user.alt_email}" %> <br/>
          <% end %>
          <% unless user.nickname.blank? %>
              Nick Name: <%= user.nickname %><br/>
          <% end %>
          Cell: <%= number_to_phone(user.cell_phone) %> <br/>
          Home: <%= number_to_phone(user.home_phone) %> <br/><br/>
        </div>
        <div class='span3'>
          <%= user.street %><br/>
          <%= user.city %> <%= user.city.blank? ? " #{user.state} #{user.zip}" : ", #{user.state} #{user.zip}" %><br/><br/>

          Shifts Selected: <%= user.shifts_for_credit.count %>  <br/>
          Tour Ratio:
          <% if user.tour_ratio > 50 %>
              <span class="bad_ratio"><%= user.tour_ratio.round(2) %></span>
          <% else %>
              <%= user.tour_ratio.round(2) %>
          <% end %>
          <br/>
          Seniority: <%= user.seniority %><br/>
          Start Year:  <%= user.snowbird_start_year %> <br/><br/>
          <% if user.has_ongoing_training_shift? %>
            Hosts Ongoing On Mt Training obligation is met.
          <% else %>
            <strong>Host Still Needs to Schedule an Ongoing On Mt Training Shift.</strong>
          <% end %><br/>

          <% if user.roles.length > 0 %>
              <br/>
              Roles:
              <ul>
                <% user.roles.each do |r| %>
                    <li><%= r.name %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
    <% end %>
  </div>
</div>