<h1>Snowbird Mountain Host: Shifts</h1>

<div class="shift_page_header">
  <div class="shift_page_filter">
    <%= will_paginate(@shifts, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>

    <div class='row'>
      <div class='span4'>
        <% if current_user.has_role? :admin %>
            <button type="button" class="btn" data-toggle="collapse" data-target="#stats_display">
              Open Stats:&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
            </button>
        <% end %>
        <button type="button" class="btn" data-toggle="collapse" data-target="#shift_filter">
          Open Filter:&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
        </button>
      </div>
    </div>
    <div id="shift_filter" class="collapse out">
      <%= render "shifts/filter/shift_filter_form" %>
    </div>

    <div id="stats_display" class="collapse <%= current_user.shift_status_message.length > 0 ? "in" : "out" %>">
      <% if current_user.has_role? :admin %>
          <div class='row'>
            <div class='span5'>
              <h4>Shift Stats:</h4>
              <strong>Total Shifts:</strong>  <%= Shift.all.length %><br/>
              <strong>Assigned Shifts:</strong>   <%= Shift.assigned.length %><br/>
              <strong>Open Shifts:</strong><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Year: <%= Shift.un_assigned.length %>
              <br/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;From
              Today: <%= Shift.un_assigned.to_a.delete_if { |s| s.shift_date < Date.today }.length %><br/>
            </div>
          </div>
      <% end %>
      <div class='row'>

        <% unless current_user.supervisor? %>
            <%= render "/users/shift_message", :user => current_user, :shift_page => true %>
          <div class='span7 shift_user_listing'>
          <%=
            @user = current_user
            render "/users/shift_summary", :user => @user
          %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br/>

<%
  curr_date = ""
%>

<div class="shift_page_body">
  <% @shifts.includes(:shift_type).each do |s| %>
    <% next if s.disabled? && !current_user.has_role?(:admin) %>
      <% if curr_date != s.shift_date %>
          <% if curr_date != '' %>
              </table>
              </div>
          <% end %>

          <button type="button" class="btn shift_button" data-toggle="collapse"
                  data-target=<%= "#date_#{curr_date}" %>>
            <%= "#{s.shift_date.strftime("%a")} - #{s.shift_date} &nbsp;&nbsp;-&nbsp;&nbsp;Total:
                #{getShiftTotal(s.shift_date)} / Available: #{getSelectedShifts(s.shift_date)}".html_safe %>

            <a href="/send_mail/THIS_DATE/?date=<%= s.shift_date %>" class='btn btn-info btn-small'>
              <i class='icon-envelope'></i> &nbsp;&nbsp;&nbsp; eMail Hosts
            </a>
          </button>

      <br/>

          <div id='<%= "date_#{curr_date}" %>' class="collapse <%= @return_params['show_shifts_expanded'] == true ? "in" : "out" %>">
            <% if current_user.has_role? :admin %>
              <br/><strong>ADMIN NOTE: Disable OC shifts from Bottom Up...</strong> <br/><br/>
            <% end %>

            <table class='table table-striped'>
              <tr>
                <th>Host</th>
                <th>Select/Drop</th>
                <th>Code</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Notes</th>
                <% if current_user.has_role? :admin %>
                  <th>Admin</th>
                <% end %>
              </tr>
      <% end %>

      <tr>
        <td>
          <% unless s.user_id.nil? %>
              <a href=<%= user_path(s.user_id) %>><%= s.user.name %></a>
          <% end %>
        </td>

        <td class="align-left">
          <% if (@return_params['show_only_shifts_i_can_pick'] || !@return_params['selectable_shifts'][s.id].nil?) %>
              <a href=<%= "select_shift/#{s.id}/?test=hello" %> class='select_btn'>
                <i class="icon-male btn btn-primary" title="select shift">&nbsp;&nbsp;Select</i>
              </a>
          <% end %>

          <% if (s.can_drop(current_user) == true) %>
              <a href=<%= "drop_shift/#{s.id}" %> class='select_btn'><i class="icon-trash btn btn-danger" title="drop shift">&nbsp;&nbsp;Drop</i></a>
          <% end %>
        </td>

        <td class="align-center"><%= s.shift_type.short_name[0..1] %></td>
        <td><%= s.shift_type.description %></td>
        <td class="align-center"><%= s.shift_type.start_time %></td>
        <td class="align-center"><%= s.shift_type.end_time %></td>
        <td><%= s.shift_type.tasks %></td>
        <% if current_user.has_role? :admin %>
          <td class="align-center">

              <a href=<%= edit_shift_path(s.id) %>><i class="icon-wrench btn btn-info"
                                                      title="edit shift"></i></a>

              <%= link_to "<i class='icon-trash btn btn-danger'></i>".html_safe, s, :method => :delete,
                          data: { :confirm => "You sure you want to delete this shift?" },
                          :title => "Delete #{s.id}" %>

              <%= link_to "<i class='icon-search btn btn-primary'></i>".html_safe,
                          "shift_logs/by_shift/#{s.id}",
                          :title => "Show Logs For This Shift" %>

            &nbsp;&nbsp; Enabled?: <%= check_box_tag("shift_enabled_#{s.id}", "shift_enabled_#{s.id}", !s.disabled, :class => 'toggle_disabled') %>
          </td>
        <% end %>
      </tr>


      <% if curr_date != s.shift_date %>
          <% curr_date = s.shift_date %>
      <% end %>
  <% end %>

  <% if @shifts.length > 0 %>
      </table>
      </div>
  <% end %>

  </div>
  <br/>


  <div class="shift_page_footer">
    <hr/>
    <%= will_paginate(@shifts, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
  </div>





