<h1>Welcome <%= current_user.name.split(' ')[0] %>, to the Snowbird Mountain Host WebSite </h1>
<button type="button" class="btn" data-toggle="collapse" data-target="#stats_display" >
  My Dashboard:&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
</button>

<button type="button" class="btn" data-toggle="collapse" data-target="#extras_display" >
My Extras:&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
</button>

<% if !current_user.team_leader? && (current_user.shift_status_message.length > 0) && (!current_user.supervisor?) %>
    <div class='row'>
      <div class='span6'>
        <%= render "/users/shift_message", :user => current_user, :shift_page => false  %>
      </div>
      <div class='span6'>
        <% if Date.today >= HostUtility.date_for_round(current_user, 5) %>
            <%= render "/shared/shift_bingo", :user => current_user %>
        <% end %>
      </div>
    </div>
<% end %>

<div id="stats_display" class="collapse out">
  <div class='row'>
    <div class='span6'>
        <%= render '/shared/user_profile_box', :user => current_user %><br/>
    </div>
  </div>
  <% unless current_user.supervisor? %>
      <div class='row'>
        <div class='span6'>
          <%= render '/shared/shift_summary_box', :user => current_user %>
        </div>
        <div class='span6'>
          <%= render '/shared/next_three_shifts', :user => current_user %>
        </div>
      </div>
  <% end %>
  <div class='row'>
    <div class='span8'>
      <%= render '/shared/hosts_working_today', :user => current_user %>
    </div>
  </div>
</div>

<div id="extras_display" class="collapse out">
  <h1>Gallery, blog, system messages, selection messages can go here</h1>
</div>

<img src="assets/hosts_2012.jpg" alt="2012 mt host crew" class="host_banner_pic"/>






