<img src="assets/header1.jpg" alt="2012 mt host crew" class="host_banner_pic"/>
<div class='row'>
  <div class='span12'>
    <% msg = home_page_message %>
        <button type="button" class="btn float_right" data-toggle="collapse" data-target="#extras_display" >
          Messages From 'Max':&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
        </button>
  </div>
</div>

<% if !msg.content.blank? %>
<div class='row'>
  <div class='span12'>
    <div id="extras_display" class="collapse in">
      <%= render '/pages/home_page_message', :msg => msg %>
    </div>
  </div>
</div>
<% end %>


<div class='myhome_page'>
  <div class='row'>
    <div class='span6'>
      <% unless current_user.supervisor? %>
          <%= render '/shared/next_three_shifts', :user => current_user %>
          <br/>

          <%= render '/shared/shift_summary_box', :user => current_user %>
          <br/>
          <%= render '/shared/user_profile_box', :user => current_user %>
      <% end %>
    </div>
    <div class='span6'>
      <%= render '/shared/hosts_working_today', :user => current_user %>
    </div>
  </div>


<img src="assets/hosts_2012.jpg" alt="2012 mt host crew" class="host_banner_pic"/>
</div>





