<%= image_tag('header1.jpg', :alt => 'The View From The Peak', :class => 'host_banner_pic')   %>

<br/>

<div class='myhome_page'>
  <% unless current_user.supervisor? %>
      <div class='row'>
        <div class='span6'>
          <%= render '/shared/user_profile_box', :user => current_user %>
        </div>

        <div class='span1'>&nbsp;</div>

        <div class='span5'>
          <%= render '/shared/next_three_shifts', :user => current_user %>
          <br/>
          <%= render '/shared/shift_summary_box', :user => current_user %>
        </div>
  <% end %>
    </div>
  <br/>
  <div class="row">
    <div class='span12'>
      <%= render '/shared/hosts_working_today', :user => current_user %>
    </div>
  </div>
  <br/>

<%= image_tag("hosts_2012.jpg", :alt => "2012 mt host crew", :class => "host_banner_pic") %>

</div>





