<% if current_user.has_role? :admin %>
  <button type="button" class="btn" data-toggle="collapse" data-target="#shift_filter">
    Open Admin Page:&nbsp;&nbsp;<i class='icon-collapse icon-large icon-white'></i>
  </button>

  <div id="shift_filter" class="collapse out">
    <div class="well">
      <h1>Training Administration</h1>

      <h2>Training Dates</h2>
      <table class='table table-striped'>
        <thead>
        <tr>
          <td>
            <h3>Training Dates (<%= @training_dates.count %>) <%= link_to "<i class='icon-plus btn btn-success btn-large'></i>".html_safe,
                                                                          new_training_date_path,
                                                                          :title => "Create Training Date" %></h3>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            Date
          </td>

        </tr>
        </thead>
        <tbody>
        <% @training_dates.each do |training_date| %>
          <tr>
            <td>
              <%= training_date.shift_date %> - <%= training_date.shift_date.strftime('%A') %>
            </td>
            <td>
              <% if training_date.ongoing_trainings.count == 0 %>
                <%= link_to "<i class='icon-trash btn btn-danger'></i>".html_safe,
                            training_date, :method => :delete,
                            :data => { confirm: "You sure you want to delete this training shift?" },
                            :title => "Delete Training Date" %>
              <% end %>
            </td></tr>
        <% end %>
        </tbody>
      </table>

      <br/><br/>


      <h2>Trainings</h2>
      <table class='table table-striped'>
        <thead>
        <tr>
          <td>
            <h3>Trainings (<%= @ongoing_trainings.count %>) <%= link_to "<i class='icon-plus btn btn-success btn-large'></i>".html_safe,
                                                                        new_ongoing_training_path,
                                                                        :title => "Create Training" %></h3>
          </td>
        </tr>
        <tr>
          <td>
            DATE
          </td>
          <td>
            HOST
          </td>
          <td>
            ROLE
          </td>
        </tr>
        </thead>
        <tbody>
        <% @ongoing_trainings.each do |ongoing_training| %>
          <tr>
            <td>
              <%= ongoing_training.shift_date %> - <%= ongoing_training.shift_date.strftime('%A') %>
            </td>
            <td>
              <%= ongoing_training.user.nil? ? '---' : ongoing_training.user.name %>
            </td>
            <td>
              <%= ongoing_training.is_trainer? ? 'TRAINER' : 'TRAINEE' %>
            </td>
            <td>
              <a href=<%= edit_ongoing_training_path(ongoing_training.id) %>><i class="icon-wrench btn btn-info"
                                                                                title="edit training"></i></a>

              <%= link_to "<i class='icon-trash btn btn-danger'></i>".html_safe,
                          ongoing_training, :method => :delete,
                          data: { :confirm => "You sure you want to delete this training shift?" },
                          :title => "Delete #{ongoing_training.id}" %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <hr/>
  </div>

<% end %>

<div class="row">
<div class="well span5">
  <h1>Training Schedule</h1>
    <% if !current_user.has_ongoing_training_shift? %>
      <%= link_to "<i class='icon-plus btn btn-primary'> &nbsp;&nbsp;Select Trainings Page</i>".html_safe,
                '/select_ongoing_training',
                :title => "Select and Ongoing Training Shift" %>
    <% end %>
  <table class='table table-striped'>
      <thead>
      <tr>
        <td>Training Date</td>
        <td>Role</td>
        <td>Drop Shift</td>
      </tr>
      </thead>
      <tbody>
      <% current_user.ongoing_trainings.each do |ongoing_training| %>
        <tr>
          <td>
            <%= ongoing_training.shift_date %> - <%= ongoing_training.shift_date.strftime('%A') %>
          </td>
          <td>
            <%= ongoing_training.is_trainer? ? 'TRAINER' : 'TRAINEE' %>
          </td>
          <td>
            <%= link_to "<i class='icon-eraser btn btn-danger'></i>".html_safe,
                        "/drop_ongoing_training/#{ongoing_training.id}",
                        :title => "Drop #{ongoing_training.id}" %>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
</div>
<div class="well span6">
  <%=
    @user = current_user
    render "/users/shift_summary", :user => @user
  %>
</div>

</div>
<br/><br/>