<br/><br/>
<h2>select training shift for <%= current_user.name %></h2>
<hr/>
<div class="well">
  <%=
    @user = current_user
    render "/users/shift_summary", :user => @user
  %>
</div>

<br/><hr/><br/>
<div class="well">
<h4>Select Trainee Shifts</h4>
<table class='table table-striped'>
  <thead>
  <tr>
    <td>
      Date
    </td>
    <td>
      Select
    </td>
  </tr>
  </thead>
  <tbody>
  <% @trainee_dates.each do |shift| %>
    <tr>
      <td>
        <%= shift.shift_date %> (<%= shift.trainee_shifts_open %> shifts available) - <%= shift.shift_date.strftime('%A') %>
      </td>
      <td>
        <% if current_user.can_select_ongoing_training(shift.shift_date) %>
          <%= link_to "<i class='icon-check btn btn-primary'></i>".html_safe,
                      "/make_ongoing_training_selection/trainee/#{shift.id}", :method => :post,
                      :title => "Select Trainee Shift" %>
        <% end %>
      </td></tr>
  <% end %>
  </tbody>
</table>
</div>


