<div ng-controller='ShiftBuilderCtrl'>
<%= form_tag("1", :method=>'put') do %>
    <%= hidden_field_tag "current_page", "introduction" %>

    <div id="introduction">
      <div class="row">
        <div class="span2">
          &nbsp;
        </div>
        <div class="span8">
          <h1>Welcome to the Shift Builder!</h1>
          <br/>
          <div class="intro_text message_window round">
            <h2>Get ready to set up the shifts for the season!</h2>
            <p>
              <br/><br/>
              With the shift builder you can define multiple shifts in one operation. <br/><br/><br/><br/>

              The application will walk you through setting up the Shifts to create a sample 'day'.
              Then you'll be asked to select which dates to apply this 'day' to.<br/><br/>    <br/><br/>
              A couple more settings and a confirmation page after that will automatically populate all the shifts you've set up.<br/><br/><br/>
            </p>
            <br/> <br/>

            <p>
              Press the "Next" button to proceed to shift building nirvana!
            </p> </div><br/>
        </div>
      </div>
      <div class="row">
        <div class="span7" >
          &nbsp;
        </div>

        <div class="span1">
          &nbsp;
        </div>
        <div class="span1" >
          <%=  link_to "Next", "#", :class=>"btn wiz_nav_btns", :id=>"intro_next" %>
        </div>
        <div class="span3" >
          &nbsp;
        </div>
      </div>
    </div>

    <div id="select_shifts">
      <div class="row">
        <div class="span2">
          &nbsp;
        </div>
        <div class="span8">
          <h1>Select Shifts For the Work Day...</h1>
          <br/>
          <div class="intro_text message_window round">
            <div class="row">
              <div class="span3">
                <h3>Available Shifts</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= select_tag "day[available_shifts]",
                                 options_from_collection_for_select(@shift_types, :id, :short_name),
                                 {:multiple => true, :class=>"span2", :size=>20} %>
              </div>
              <div class="span2" style="text-align: center;">
                <br/><br/><br/><br/><br/><br/>
                <%=  link_to ">>", "#", :class=>"btn btn-success shift_select_btn",
                             :id=>"shift_select_btn" %><br/><br/>
                <%=  link_to "<<", "#", :class=>"btn btn-danger shift_deselect_button",
                             :id=>"shift_unselect_btn" %>
              </div>
              <div class="span2">
                <h3>Selected Shifts</h3>

                <%= select_tag "day[selected_shifts]",
                               @selected_shifts,
                               {:multiple => true, :class=>"span2", :size=>20} %>

                <div style="float: right;">
                  <%= link_to "Clear Shifts", "#", :id=>"clear_shifts_btn", :class=>"btn btn-warning" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span8">
                <br/>
                <p>
                  Press the "Next" button to proceed to the date selection page
                </p>
              </div>
            </div>
          </div><br/>
        </div>
      </div>

      <div class="row">
        <div class="span7" >
          &nbsp;
        </div>

        <div class="span1">
          <%=  link_to "Back", "#", :class=>"btn wiz_nav_btns", :id=>"shifts_back" %>
        </div>
        <div class="span1" >
          <%=  link_to "Next", "#", :class=>"btn wiz_nav_btns", :id=>"shifts_next" %>
        </div>
        <div class="span3" >
          &nbsp;
        </div>
      </div>
    </div>

    <div id="select_dates">
      <div class="row">
        <div class="span2">
          &nbsp;
        </div>
        <div class="span8">
          <h1>Select the Dates for this Shift Set...</h1>
          <br/>

          <div class="intro_text message_window round">
            <div class="row">
              <div class="span3">
                <br/><br/>
                <strong>Date Selection Type</strong><br/>
                <input type="radio" ng-model="date_type" value="single" id="single_date_radio">  Single Date <br/>
                <input type="radio" ng-model="date_type" value="multiple" id="multi_date_radio"> Multiple Dates <br/>

                <br> <br/>
                Start Date:
                <table>
                  <tr>
                    <td><%= text_field_tag "start_date", "",
                                           :class=>"span2 start_date", :readonly=>'readonly' %>&nbsp;</td>
                    <td style="vertical-align: top;">
                      <%=  link_to "&nbsp;<i class='icon-calendar'></i>&nbsp;".html_safe, "#",
                                   :class=>"btn cal_icon_start",
                                  :id=>"set_start_date_btn",
                                  "data-date-format"=>"yyyy-mm-dd",
                                  "data-date"=>Date.today.strftime('%Y-%m-%d') %>
                    </td>
                  </tr>
                </table>
                <br/>

                <div class="multi_date" ng-hide="date_type == 'single'">
                  End Date:
                  <table>
                    <tr>
                      <td><%= text_field_tag "end_date", "",
                                             :class=>"span2 end_date", :readonly=>'readonly' %>&nbsp;</td>
                      <td style="vertical-align: top;">
                        <%=  link_to "&nbsp;<i class='icon-calendar'></i>&nbsp;".html_safe, "#",
                                     :class=>"btn cal_icon_end",
                                    :id=>"set_end_date_btn",
                                    "data-date-format"=>"yyyy-mm-dd",
                                    "data-date"=>Date.today.strftime('%Y-%m-%d') %></td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="single_date">
                <div class="span2">&nbsp;</div>
              </div>

              <div class="multi_date">
                <div class="span2">
                  <br/><br/><br/><br/>
                  Days of the Week  <br/>
                  <%= select_tag 'days_of_the_week',
                                 options_for_select(@days_of_week),{ :multiple => true, :size =>7 , :class=>"span2" } %>

                </div>
              </div>

              <div class="span2">
                <strong>Selected Dates:</strong>
                <%=  select_tag "selected_dates",
                                @selected_dates,
                                {:multiple => true, :class=>"span2",:size=>22, :readonly=>"readonly"} %>

                <br/>
                <%=  link_to "Update dates", "#", :class=>"btn btn-info", :id=>"update_dates" %>
                <%=  link_to "Clear", "#", :class=>"btn btn-warning", :id=>"clear_dates" %>
              </div>

            </div>

            Press the "Next" button to proceed to the Options page
          </div>
          <br/>
        </div>
      </div>

      <div class="row">
        <div class="span7">
          &nbsp;
        </div>
        <div class="span1">
          <%=  link_to "Back", "#", :class=>"btn wiz_nav_btns", :id=>"dates_back" %>
        </div>
        <div class="span1" >
          <%=  link_to "Next", "#", :class=>"btn wiz_nav_btns", :id=>"dates_next" %>
        </div>
        <div class="span3" >
          &nbsp;
        </div>
      </div>
    </div>

    <div id="set_options">
      <div class="row">
        <div class="span1">
          &nbsp;
        </div>
        <div class="span10">
          <h1>Set the Final Options...</h1>
          <br/>
          <div class="intro_text message_window round">
            <br/>  <br/>
            <p>
              <strong>Tell me how to handle existing shifts in the system on these dates:</strong><br/>  <br/>
              <% [ '1.  Replace selected days with these new shifts: (Existing shifts will be deleted)',
                   '2.  Add these new shifts to the selected dates'].each_with_index do |option, index| %>
                  <br/>
                  <% if index == 1 %>
                    <%= radio_button_tag 'option', index, @option == index, :checked=>true  %>
                  <% else %>
                      <%= radio_button_tag 'option', index, @option == index %>
                  <% end %>
                  <%=  option %>

                  <br/>

              <% end %>
            </p>
            <br/> <br/><br/><br/><br/>
            <div class="span2">
              WARNING:
            </div>
            <div class="span5">be careful if you select to replace shifts (option 1 above),
            You will be automatically losing any shifts you may have created before.<br/>
            </div>
            <br/> <br/>
            <div class="row"><div class="warning span4"><br/>You've been warned!</div></div>
            <br/>
            <p>
              Press the "Next" button to proceed to finish the creation process.
            </p>
          </div><br/>
        </div>
      </div>

      <div class="row">
        <div class="span7" >
          &nbsp;
        </div>

        <div class="span1">
          <%=  link_to "Back", "#", :class=>"btn wiz_nav_btns", :id=>"confirm_back" %>
        </div>
        <div class="span1" >
          <%=  link_to "Next", "#", :class=>"btn wiz_nav_btns", :id=>"confirm_next" %>
        </div>
        <div class="span3" >
          &nbsp;
        </div>
      </div>
    </div>

    <div id="confirmation">
      <div class="row">
        <div class="span1">
          &nbsp;
        </div>
        <div class="span10">
          <h1>Confirm and Finish Creating Shifts!</h1>
          <br/>
          <div class="intro_text message_window round">
            <div class="row">
              <div class="span1">
                &nbsp;
              </div>
              <div class="span2">
                <h3>Selected Shifts</h3><br/>

                <%= select_tag "confirm[selected_shifts]",
                               @selected_shifts,
                               {:multiple => true, :class=>"span2", :size=>19, :readonly=>"readonly"} %>
              </div>

              <div class="span2">
                <h3>Selected Dates</h3><br/>

                <%=  select_tag "confirm[selected_dates]",
                                @selected_dates,
                                {:multiple => true, :class=>"span2",:size=>19, :readonly=>"readonly"} %>

              </div>

              <div class="span4">
                <strong>Options</strong> <br/><br/>
                <%= text_area_tag(:confirm_option,
                                  "You have elected to add shifts to existing shifts. This is a safe way of populating shifts and will not destroy any shifts you've already set up.",
                                  :readonly=>"readonly", :rows=>10, :class=>"span4") %>
              </div>

            </div>
            <div class="row">
              <div class="span8">
                <br/>
                <p>
                  Press the "Finish" button to process your selections or "Back" to fix selections.  <br/>
                  Press "Cancel" to bail out and return to the home page
                </p>
              </div>
            </div>
          </div><br/>
        </div>
      </div>

      <div class="row">
        <div class="span2" >
          &nbsp;
        </div>
        <div class="span1">
          <%=  link_to "Cancel", shifts_path, :class=>"btn wiz_nav_btns", :id=>"cancel" %>
        </div>
        <div class="span4" >
          &nbsp;
        </div>

        <div class="span1">
          <%=  link_to "Back", "#", :class=>"btn wiz_nav_btns", :id=>"finish_back" %>
        </div>
        <div class="span1" >
          <%= submit_tag 'Finish', :class=>"btn wiz_nav_btns", :id=>"finish" %>

        </div>
        <div class="span3" >
          &nbsp;
        </div>
      </div>
    </div>

<% end %>
<br/><br/>
</div>