
<% if @target_hosts.count == 0 %>
  <strong>No target hosts over 20 shifts...</strong>
<% else %>
  <h2>Hosts Over 20</h2>
  <% @target_hosts.each do |host| %>
    <table class="table-striped">
      <tr>
        <th><%= link_to host.name, user_path(host.id), target: :blank %></th>
        <th>&nbsp;&nbsp;</th>
        <th>[<%= host.shifts_for_analysis.count %>]</th>
      </tr>
    </table>

    <% host.shifts_for_analysis.each_with_index do |shift, idx| %>
      <div class="row">
        <div class="span1">
          <%= idx + 1 %>
        </div>
        <div class="span2">
          <%= shift.shift_date %>
        </div>
        <div class="span1">
          <%= shift.short_name %>
        </div>
        <div class="span8">
          <table class="table-striped">
            <%
              shift.shift_logs.each do |shift_log|
                next if shift_log.action_taken.include?('OGOMt') %>
              <tr>
                <td>
                  <%= shift_log.change_date %>
                </td>
                <td>
                  <%= shift_log.action_taken %>
                </td>
                <td>
                  <%= shift_log.note %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <hr/>
    <% end %>
    <hr/>
  <% end %>
<% end %>
