<% if current_user.has_role? :admin %>
    <%= form_for(:filter, :url => "/reports/shifts_by_host", :method => :get, :class=>"form-inline") do |f|  %>
        <%= f.label(:seniority, "Seniority") %>
        <% if params['filter'].nil? %>
            <%= f.select("Seniority", @seniority, {},
                         {:class=>"span2", :multiple => true })  %>
            <br/>
            <strong>Only Needing Shifts </strong>&nbsp;&nbsp;
            <%= f.check_box(:need_shifts, :checked => false) %>
            <br/>
            <strong>Only Team Leaders </strong>&nbsp;&nbsp;
            <%= f.check_box(:team_leaders, :checked => false) %>

        <% else %>
            <%= f.select("Seniority", @seniority, {:selected => params['filter']['Seniority'].reject {|e| e.empty?}},
                         {:class=>"span2", :multiple => true})  %>
            <br/>
            <strong>Only Needing Shifts </strong>&nbsp;&nbsp;
            <%= f.check_box(:need_shifts, :checked => (params['filter']['need_shifts'] == '1')) %>

            <br/>
            <strong>Only Team Leaders </strong>&nbsp;&nbsp;
            <%= f.check_box(:team_leaders, :checked => (params['filter']['team_leaders'] == '1')) %>

            <br/>
        <% end %>
          <br/>
        <%= f.submit 'Apply', :class=>"btn" %>
    <% end %>

    <h1><%= @title %> (<%= @hosts.count %>)</h1>
    Download:
    <%= link_to "CSV", params.merge(:format => :csv) %> |
    <%= link_to "EXCEL", params.merge(:format => :xls) %>
    <br/><br/>

    <strong>Total Shifts:</strong> <%= @total_shifts.count %><br />
    <strong>Total Assigned:</strong> <%= @total_assigned_shifts.count %><br />
    <strong>Total Unassigned:</strong> <%= @total_open_shifts.count %><br />
    <hr/>
    <br />

    <table class="table table-striped table-bordered">
      <tr class="row">
        <th class="span3">Host Name</th>
        <th class="span1">Total</th>
        <th class="span1">Tours</th>
        <th class="span1">Ratio</th>
        <th class="span1">Surveys</th>
        <th class="span1">Trainer</th>
        <th class="span1">Training</th>
        <th class="span1"></th>
        <th class="span5">Comments</th>
      </tr>
      <% @hosts.each do |auser| %>
          <tr class="row" >
            <%= render "reports/user_report_entry", :object => auser %>
          </tr>
      <% end %>
    </table>
<% else %>
    <h1>You do not have permissions to view this page...</h1>
    <%= link_to "Click Here to return to home page", root_path, :class=>"btn btn-warning" %>
<% end %>

