<h3> Shift Inventory </h3>

<table class="tabke table-bordered table-striped">
  <tr>
    <th class="span2">Type</th>
    <th class="span2">Total</th>
    <th class="span2">Selected</th>
    <th class="span2">Remaining</th>
  </tr>

  <tr>
    <td>TL</td>
    <td><%= @all_counts['TL'] %></td>
    <td><%= @selected_counts['TL'] %></td>
    <td><%= @all_counts['TL'] - @selected_counts['TL'] %></td>
  </tr>

  <tr>
    <td>A1</td>
    <td><%= @all_counts['A1'] %></td>
    <td><%= @selected_counts['A1'] %></td>
    <td><%= @all_counts['A1'] - @selected_counts['A1'] %></td>
  </tr>

  <tr>
    <td>OC</td>
    <td><%= @all_counts['OC'] %></td>
    <td><%= @selected_counts['OC'] %></td>
    <td><%= @all_counts['OC'] - @selected_counts['OC'] %></td>
  </tr>



  <% @all_counts.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= @all_counts[key] %></td>
      <td><%= @selected_counts[key] %></td>
      <td><%= @all_counts[key] - @selected_counts[key] %></td>
    </tr>

  <% end %>

  <tr>
    <td></td>
    <td>
      <%
        @value = 0
        @all_counts.each do |key, value|
          @value += value
        end
      %>
      <%= @value %>
    </td>
  </tr>


<!--  <tr>-->
<!--    <td>MEETINGS</td>-->
<!--    <td><%#= @all_counts['MEETINGS'] %></td>-->
<!--    <td><%#= @selected_counts['MEETINGS'] %></td>-->
<!--    <td><%#= @all_counts['MEETINGS'] - @selected_counts['MEETINGS'] %></td>-->
<!--  </tr>-->




</table>

<br/><br/>