<td>
  <%= link_to object.name, user_path(object) %>
  <br/>(seniority: <%= object.seniority %> )
</td>
<td><%= object.shifts.count %> </td>
<td><%= object.tours.count %></td>
<td><%= "%.2f" % object.tour_ratio %></td>
<td><%= object.team_leaders.count %></td>
<td><%= object.surveys.count %></td>
<td><%= object.trainers.count %></td>
<td><%= object.trainings.count %></td>
<td><%= object.ongoing_trainings.count %></td>
<td></td>
<td><%= object.notes %></td>


