<td>
  <%= link_to object.name, user_path(object) %>
  <br/>(seniority: <%= object.seniority %> )
</td>
    <td><%= object.shifts.count %> </td>
    <td><%= object.tours.count %></td>
    <td><%= "%.2f" % object.tour_ratio %></td>
    <td></td>
    <td><%= object.notes %></td>


