<td>
  <%= link_to object.name, user_path(object) %>
  <br/>(seniority: <%= object.seniority %> )
</td>

<td>
  <%= object.shifts_for_credit.count >= 20 ?
        object.shifts_for_credit.count :
        "<strong>#{object.shifts_for_credit.count}</strong>".html_safe
  %>
</td>
<td style="color: red">
  <%= object.has_holiday_shift? ? " " : "<strong>NO</strong>".html_safe %>
</td>

<% if object.tours.count < 2 %>
  <td style="color: red">
    <strong>
      <%= object.tours.count %>
    </strong>
  </td>
<% else %>
  <td>
    <%= object.tours.count %>
  </td>
<% end %>


<td><%= "%.2f" % object.tour_ratio %></td>
<td><%= object.team_leaders.count %></td>
<td><%= object.surveys.count %></td>
<td><%= object.trainers.count %></td>
<td><%= object.trainings.count %></td>


<%# if (object.ongoing_trainings.count == 0) && !object.rookie? %>
<!--  <td style="color: red">-->
<!--    <strong>-->
      <%#=  object.ongoing_trainings.count %>
<!--    </strong>-->
<!--  </td>-->
<%# else %>
<!--  <td>-->
    <%#= object.ongoing_trainings.count %>
<!--  </td>-->
<%# end %>

<!--<td><%#= object.ongoing_training_display %></td>-->

<td><%= object.notes %></td>


