<table class="table table-striped table-bordered">
  <tr class="row">
    <th class="span3">Name</th>
    <th class="span1">Total</th>
    <th class="span1">Worked</th>
    <th class="span1">Pending</th>
    <th class="span1">Missed</th>
    <th class="span5">Comments</th>
  </tr>
  <% @hosts.each do |object| %>
      <tr class="row" >
        <td>
          <%= object.name %> (seniority: <%= object.seniority %> )
        </td>
        <td><%= object.shifts.count %> </td>
        <td><%= object.shifts_worked.count %></td>
        <td><%= object.pending_shifts.count %></td>
        <td><%= object.missed_shifts.count %></td>
        <td><%= object.notes %></td>
      </tr>
  <% end %>
</table>