<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="divider-vertical"></li>

    <li><%= link_to "Hosts", users_path %></li>

    <li><%= link_to "Shifts", shifts_path %></li>

    <li><%= link_to "Training", ongoing_trainings_path %></li>

    <li><%= link_to "HostHauler", '/hauler_scheduler' %></li>

    <li><a href=<%= "/users/#{current_user.id}" %>>Profile</a></li>

    <li class="dropdown">
      <%= link_to "Host Info", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "host_resource_menu" %>

      <ul class="dropdown-menu" padding-left="20px">
        <li class='disabled'>Host Program Info</li>
        <li><%= link_to "Shift Card", "/docs/shift_card2019.pdf", :target => "_blank"  %></li>
		<li><%= link_to "Important Dates", "/shift_bingo" %></li>
        <li><%= link_to "Mt Host Manual", "/docs/HostManual2019_20.pdf", :target => "_blank"  %></li>
        <li><%= link_to "Tour Education", "/docs/tour_education2019_20.pdf", :target => "_blank"  %></li>
        <li><%= link_to "Team Leader Manual", "/docs/team_lead_manual_2019_20.pdf", :target => "_blank"  %></li>
        <li><%= link_to "Parking Policy", "/docs/2018_2019_parking_policy.pdf", :target => "_blank" %></li>
        <li><%= link_to "2018 UTA Schedule", "/docs/2018_19_ski_schedule.pdf", :target => "_blank" %></li>
        <li><%= link_to "Host Benefits", "/docs/host_benefits_2018.pdf", :target => "_blank" %></li>
        <li><%= link_to "Gear Representatives", "/docs/gear_reps.pdf", :target => "_blank" %></li>
        <li class='disabled'>Snowbird Links</li>
		<li><%= link_to "Snowbird Tour Map", "/docs/snowbird_trail_map.v4.kmz", :target => "_blank" %></li>
        <li><%= link_to "Snowbird Home Page", "http://snowbird.com", :target => "_blank" %></li>
        <li><%= link_to "Snowbird Tickets Page", "http://www.snowbird.com/tickets-and-season-passes/",
                        :target => "_blank" %></li>
        <li><%= link_to "Snowbird Mountain School", "https://tickets.snowbird.com/mountainschool/ItemList.aspx" %></li>
        <li><%= link_to "Snowbird Mountain Report", "http://www.snowbird.com/mountain-report", :target => "_blank" %></li>
        <li><%= link_to "Snowbird Trail Maps", "http://www.snowbird.com/winter/trail-maps/", :target => "_blank" %></li>

        <li class='disabled'>Host Reports etc.</li>
        <li><%= link_to "Host Phone List", "/reports/phone_list", :target => "_blank" %></li>
      </ul>
    </li>

    <li class="dropdown">
      <%= link_to "Resources", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "document_menu" %>

      <ul class="dropdown-menu" padding-left="20px">
        <li><%= link_to "Survey Training Videos", "/survey_training" %></li>
        <li class='disabled'>Nutrition, Safety & Health</li>
        <li><%= link_to "Exercises & Stretches", "/docs/exercises_stretches.doc", :target => "_blank" %></li>
        <li><%= link_to "Ski Injury Prevention For Hosties!", "https://prezi.com/ffsph3ej3dyo/ski-injury-prevention/",
                        :target => "_blank" %></li>

        <li class='disabled'>General Links & Resources</li>
		<li><%= link_to '24 Hour Cottonwood Canyons Weather Report',
                        'https://www.weather.gov/source/slc/snow/files/mtnwx.html?Cottonwood',
		                :target => '_blank' %>
        </li>
        <li><%= link_to "National Weather Service Report",                      
					"http://forecast.weather.gov/MapClick.php?site=slc&textField1=40.58194&textField2=-111.65444#.Ulsm6GTwKPA",
                        :target => "_blank"%></li>
        <li><%= link_to "Utah Avalanche Center Home Page", 
							"http://utahavalanchecenter.org/advisory/salt-lake/04/28/2013", :target => "_blank" %></li>
        <li><%= link_to "Wasatch Snow Info Site", "http://www.wasatchsnowinfo.com/", :target => "_blank" %></li>
        <li><%= link_to "UTA Home Page", "http://www.rideuta.com/", :target => "_blank" %></li>
      </ul>
    </li>

    <li class="dropdown">
      <%= link_to "Email", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "email_menu" %>

      <ul class="dropdown-menu" padding-left="20px">
        <li><%= link_to "To: All Admin Users", "/send_mail/" + "ADMINUSERS", :target => "_blank" %></li>
        <li><%= link_to "To: All Team Leaders", "/send_mail/" + "TEAMLEADER", :target => "_blank"  %></li>
        <li><%= link_to "To: All Active hosts", "/send_mail/" + "ALLACTIVEHOSTS", :target => "_blank" %></li>
        <li><%= link_to "To: All Rookies", "/send_mail/" + "ROOKIES", :target => "_blank" %></li>
        <li><%= link_to "To: Group 1 Hosts", "/send_mail/" + "GROUP1", :target => "_blank" %></li>
        <li><%= link_to "To: Group 2 Hosts", "/send_mail/" + "GROUP2", :target => "_blank" %></li>
        <li><%= link_to "To: Group 3 Hosts", "/send_mail/" + "GROUP3", :target => "_blank" %></li>
        <li><%= link_to "To: Selected hosts", select_hosts_for_email_path %></li>
        <% if current_user.has_role? :admin %>
            <li><%= link_to "To: All Hosts (includes inactives)", "/send_mail/" + "ALLHOSTS", :target => "_blank" %></li>
            <li><%= link_to "To: All In-Active hosts", "/send_mail/" + "ALLINACTIVEHOSTS", :target => "_blank" %></li>
        <% end %>
      </ul>
    </li>

    <% if current_user.has_role? :admin %>
        <li class="dropdown">
          <%= link_to "Admin", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "admin_menu" %>

          <ul class="dropdown-menu">
            <li class='disabled'>Management</li>
            <li><%= link_to "Manage Shift Types", shift_types_path %></li>
            <li><%= link_to "Shift Creation Wizard", "#{shift_collections_path}/?date=#{Date.today}" %></li>
            <li><%= link_to "Assign Team Leader Shifts", "/assign_team_leaders" %></li>
            <li><%= link_to "Manage Configurations", edit_sys_config_path(SysConfig.first) %></li>
            <li><%= link_to "Manage Max's Message", edit_page_path('aamax') %></li>
            <li class='disabled'>Exports</li>
            <li><a href="/download_end_of_year">End of Year Shift Summary</a></li>

            <li class='disabled'>Reports</li>
            <li><a href="/reports/confirmations">Host Confirmations</a></li>
            <li><a href="/reports/shifts_by_host">Shifts By Host</a></li>
            <li><a href="/shifts_by_date">Hosts Working By Date</a></li>
            <li><a href="/skipatrol">Ski Patrol Reporting</a></li>
            <li><a href="/hosts_by_seniority">Hosts By Seniority</a></li>
            <li><a href="/hosts_by_roles">Hosts By Role</a></li>
            <li><a href="/shift_logs">Shift Logs</a></li>
            <li><a href="/reports/shift_log_review">Shift Log Review</a></li>
            <li><a href="/reports/shift_summary">Shift Summary Reports</a></li>
            <li><a href="/host_haulers">Host Hauler Summary</a></li>
          </ul>
        </li>
    <% end %>

  </ul>
  <div class="pull-right">
    <ul class="nav pull-right">
      <li><%= link_to 'About The Hosts', '/pages/about' %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="divider"></li>
          <li>&nbsp;&nbsp; <%= DateTime.current.strftime('%Y-%m-%d %H:%M') %></li>

          <% if !session[:admin_user_id].nil? %>
            <li><a href="/un_ghost_user"><i class="icon-user icon_red icon-large icon_obj" title="Un-Ghost This User">&nbsp;&nbsp; UnGhost User</i></a></li>
          <% elsif current_user.admin? %>
            <li><%= select_tag(:ghost_user_id, content_tag(:option,'select Host to Ghost...',:value=>"")+
                               options_from_collection_for_select(User.active_users.order(:name), "id", "name")) %>
            </li>
          <% end %>


          <% if current_user.email == MAX_EMAIL %>
              <li class='disabled'>Operations</li>
              <li><%= link_to "Reset passwords and confirmations for all.", "/reset_confirms_and_passwords",
                              data: {confirm: "You sure you want to reset confirmations and passwords?"} %></li>
              <li><%= link_to "Clear all Host Assignments", "/clear_assignments",
                              data: {confirm: "You sure you want to clear the assignments?"} %></li>
              <li><%= link_to "DELETE All Shifts", "/delete_shifts",
                              data: {confirm: "You sure you want to delete all shifts?"} %></li>
              <li><%= link_to "Set all Hosts As Rookies", "/set_start_year/#{SysConfig.first.season_year}",
                              data: {confirm: "You sure you want to reset all the host seniorities?"} %></li>
              <li><%= link_to "Set all Hosts As Group 3 (Newer)", "/set_start_year/#{SysConfig.first.group_3_year}",
                              data: {confirm: "You sure you want to reset all the host seniorities?"} %></li>
              <li><%= link_to "Set all Hosts As Group 2 (Middle)", "/set_start_year/#{SysConfig.first.group_2_year}",
                              data: {confirm: "You sure you want to reset all the host seniorities?"} %></li>
              <li><%= link_to "Set all Hosts As Group 1 (Senior)", "/set_start_year/#{SysConfig.first.group_1_year}",
                              data: {confirm: "You sure you want to reset all the host seniorities?"} %></li>
              <li><%= link_to "Set all hosts inactive", "#",
                              data: {confirm: "You sure you want to set all hosts as inactive?"} %></li>
              <li><%= link_to "Initialize All Host Confirmations", "/init_confirmations",
                              data: {confirm: "Are you sure you want to initialize all user confirmations?"} %></li>
              <li><%= link_to "Populate Meeting Shifts To Users", "/init_meetings",
                              data: {confirm: "Are you sure you want to populate all the meetings?"} %></li>

              <li class="divider"></li>
          <% end %>

          <li><%= link_to raw("<i class='icon-off'></i> Log Out"), destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>
    $(function(){
        $('#ghost_user_id').bind('change', function () {
            var url = "/ghost_user/" + $(this).val()
            if (url) {
                window.location.replace(url);
            }
            return false;
        });
    });
</script>