<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="divider-vertical"></li>

    <li><%= link_to "Hosts", users_path %></li>

    <li><%= link_to "Shifts", shifts_path %></li>

    <li><a href=<%= "/users/#{current_user.id}" %>>Profile</a></li>

    <li><%= link_to "Host Gallery", galleries_path %></li>

    <li class="dropdown">
      <%= link_to "Documents", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "document_menu" %>

      <ul class="dropdown-menu" padding-left="20px">
        <li><%= link_to "Shift Card", "shiftcard" %></li>
        <li><%= link_to "Mt Host Manual (2012-2013)", "/docs/HostManual2012.pdf", :target => "_blank"  %></li>
        <li><%= link_to "Host Manual (2012/13 change summary)", "/HostManual_changes2012.pdf", :target => "_blank" %></li>
        <li><%= link_to "Parking Policy", "/parking_policy.pdf", :target => "_blank" %></li>
        <li><%= link_to "Host Phone List", "/show_contact_info" %></li>
        <li><%= link_to "Training Videos", "training_videos" %></li>
      </ul>
    </li>

    <li class="dropdown">
      <%= link_to "Email", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "email_menu" %>

      <ul class="dropdown-menu" padding-left="20px">
        <li><%= link_to "To: All Admin Users", "/send_mail/" + "ADMINUSERS" %></li>
        <li><%= link_to "To: All Team Leaders", "/send_mail/" + "TEAMLEADER", :target => "_blank"  %></li>
        <li><%= link_to "To: All Active hosts", "/send_mail/" + "ALLACTIVEHOSTS" %></li>
        <li><%= link_to "To: All Rookies", "/send_mail/" + "ROOKIES", :target => "_blank" %></li>
        <li><%= link_to "To: Group 1 Hosts", "/send_mail/" + "GROUP1", :target => "_blank" %></li>
        <li><%= link_to "To: Group 2 Hosts", "/send_mail/" + "GROUP2", :target => "_blank" %></li>
        <li><%= link_to "To: Group 3 Hosts", "/send_mail/" + "GROUP3", :target => "_blank" %></li>
        <li><%= link_to "To: Selected hosts", select_hosts_for_email_path %></li>
        <li><%= link_to "To: All Hosts", "/send_mail/" + "ALLHOSTS", :target => "_blank" %></li>
        <li><%= link_to "To: All In-Active hosts", "/send_mail/" + "ALLINACTIVEHOSTS" %></li>
      </ul>
    </li>

    <% if current_user.has_role? :admin %>
        <li class="dropdown">
          <%= link_to "Admin", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => "admin_menu" %>

          <ul class="dropdown-menu">
            <li class='disabled'>Management</li>
            <li><%= link_to "Manage Shift Types", shift_types_path %></li>
            <li><%= link_to "Shift Creation Wizard", "#{shift_collections_path}/?date=#{Date.today}" %></li>

            <li class='disabled'>Exports</li>
            <li><a href="/download_end_of_year">End of Year Shift Summary</a></li>

            <li class='disabled'>Reports</li>
            <li><a href="#">Shifts By Host</a></li>
            <li><a href="#">Hosts Working By Date</a></li>
            <li><a href="#">Ski Patrol</a></li>
          </ul>
        </li>
    <% end %>

  </ul>
  <div class="pull-right">
    <ul class="nav pull-right">
      <li><%= link_to 'About The Hosts', '/about' %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="divider"></li>
          <li><%= link_to raw("<i class='icon-off'></i> Log Out"), destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>