<!DOCTYPE html>
<html ng-app="mthosts">
<head>
  <title>Snowbird Mountain Host Site<%= @title.nil? ? "" : " | #{@title}" %></title>


  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com//twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <%= javascript_include_tag "application" %>
  <%= include_gon %>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo.jpg' %>
</head>
<body>
  <header>
    <%= render :partial => '/layouts/menu' %>
    <%= render :partial => '/layouts/header' %>
  </header>

<div class='container'>
  <% if flash.alert %>
      <div class="container-fluid">
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash.alert %>
        </div>
      </div>
  <% end %>

  <% if flash.notice %>
      <div class="container-fluid flash_notice">
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash.notice %>
        </div>
      </div>
  <% end %>

  <div class='main_body'>
    <% if current_user && (!current_user.confirmed?) && !(current_user.has_role? :admin) %>
        <%= render :partial => '/users/confirmation_form' %>
    <% else %>
        <%= yield %>
    <% end %>
  </div>
</div>

<%= render :partial => '/layouts/footer' %>

</body>
</html>
