<!DOCTYPE html>

<html ng-app="mthosts">

<head>
  <title>Snowbird Mountain Host Site<%= @title.nil? ? "" : " | #{@title}" %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'logo.jpg' %>
</head>

<body>
<header>
  <%= render :partial => '/layouts/menu' %>
  <%= render :partial => '/layouts/header' %>
</header>

<div class='container'>
  <% if flash.alert %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash.alert %>
        </div>

  <% end %>

  <% if flash.notice %>
      <div class="flash_notice">
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= flash.notice %>
        </div>
      </div>
  <% end %>

  <div class='main_body'>
    <% if current_user && (!current_user.confirmed?) && !(current_user.has_role? :admin) %>
        <%= render :partial => '/users/confirmation_form' %>
    <% else %>
        <%= yield %>
    <% end %>
  </div>
</div>

<%= render :partial => '/layouts/footer' %>

</body>
</html>
